@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Mixins
@mixin rad ($rad) {
    border-radius: $rad;
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
}
@mixin bs ($bs) {
    box-shadow: $bs;
    -webkit-box-shadow: $bs;
    -moz-box-shadow: $bs;
}
@mixin ts ($ts) {text-shadow: $ts;}

// Variables
$font: 'Open Sans', sans-serif;
$solid: #276dac;
$accent: #8ec640;
$dark: #07375f;

// Globals
.accentText {color: $accent}
.solidText {color: $solid}
.browsehappy {
    position: fixed;
    z-index: 9999;
    width: 100%;
    font-size: 21px;
    padding: 20px;
}
body {font-family: $font;-webkit-backface-visibility: hidden; background: #f9f9f9;}
header {
    background: white;
    padding: 12px 0;
    width: 100%;
    display: block;
    .logo {
        max-width: 135px;
        margin: 5px 0;
        &:hover {max-width: 137px; position: absolute;}
    }
    ul.util {
        li {
            font-size: 12px;
            a {
                color: #999;
                &:hover {text-decoration: none; color: $accent;}
            }
        }
    }
    ul.menu {
        margin-top: 5px;
        li {
            font-size: 16px;
            font-weight: 700;
            padding-left: 20px;
            a {
                color: $solid;
                &:hover {text-decoration: none; color: $accent;}
            }
        }
    }
}
#content {
    .content {padding-top: 50px;}
}
a, .pagination, .carousel, .panel-title a {cursor: pointer; color: $accent; &:hover {color: darken($accent, 20%);}}
a:focus, button:focus {outline:0!important;}
.sorter {cursor: pointer;}
.appLoader {
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    .loading {
        position: fixed;
        top: 40%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
}
.btn-primary {
    background-color: $solid;
    border-color: darken($solid, 5%);
    &:hover {background-color: darken($solid, 10%);background-color: $solid;}
}
.btn-success { background-color:$accent;}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {background-color: darken($accent, 8%); border-color: darken($accent, 10%);}
.btn-mega {padding: 10px 22px!important}
.input-block {width: 100%!important;}
.mainAlerts {
    position: fixed;
    top: 15px;
    right: 0;
    max-width: 500px;
    min-width: 300px;
    z-index: 999999999;
    .alert-success, .alert-danger, .alert-info, .alert-warning {opacity: .8; border: 1px solid; border-right: 8px solid; padding: 12px 15px; @include rad(4px 0 0 4px);}
}

// ... Bootstrap CSS Customizations
.btn, .well, .form-control { @include rad(2px);}
.btn-default {background-color: #eee; border-color: #eee;}
.badge {background-color:$solid;}
.btn-panel {
    background: white;
    color: $accent;
    padding: 26px;
    font-size: 18px;
    .emtAddBtnIcon {
        display: block;
        font-size: 80px;
        margin-bottom: 10px;
    }
    &:hover {background: #eee}
}
.form-control {border:1px solid #ddd;}
.panel-custom, .btn-panel {
    border: 8px solid #eee;
    @include rad(2px);
    .panel-heading {
        border-bottom: 2px solid $accent!important;
        font-size: 16px;
        .popover-content {color:#999;}
        &.clickHeading {cursor: pointer}
    }
    ul.panelist {
        margin-bottom: 0;
        max-height: 200px;
        overflow-y: scroll;
        li {
            padding: 5px 10px;
            font-size: 14px;
            border-bottom: 1px solid #eee;
            &.active {
                background:#eee;
                a {
                    color: $dark;
                    .badge:hover {background: $solid}
                    &:hover {color: $solid; text-decoration: none}
                }
            }
            &:last-child { border:0;}
            .defs {
                color: $solid;
                cursor: pointer;
                &:hover {color: $dark;}
            }
            a {
                color: $dark;
                .badge:hover {background: $accent}
                &:hover {color: $accent; text-decoration: none}
            }
        }
    }
}
.panel-questions {
    background:#eee;
    .panel-body {background:white;}
    h3 {margin:10px;}
}
.alert {border:0;}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
.normalModal {
    .modal-dialog {margin: 7% auto;}
    .modal-sm {width: 365px;}
    .modal-content {border: 12px solid rgba(255, 255, 255, 0.5); box-shadow: none}
}
.orgsLabel {margin: 0 2px 2px 0; a{color:white;}}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background:$dark;}
ul.nav li.dropdown:hover > ul.dropdown-menu {display: block;}
.dropdown-menu {padding:5px;}
.dropdown-menu > li > a:hover {background:$accent; color:white;}
.ta-root.focussed > .ta-scroll-window.form-control, .form-control:focus {
    @include bs(0 0 3px 1px rgba(142, 198, 64, .6));
    border-color: $accent;
}
.pagination > li > a, .pagination > li > span {color: $accent}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {background: $accent; border-color: darken($accent, 10%);}

.avatar {
    max-width: 70px;
    margin-right: 10px;
    border: 3px solid $accent;
    cursor: pointer;
    &:hover {border: 4px solid $accent;}
}

.uib-datepicker-popup, .uib-datepicker {
    width: 100%;
    height: 100%;
}
.uib-daypicker, .uib-monthpicker, .uib-yearpicker {width: 100%;}
.uib-day button, .uib-month button, .uib-year button {background-color: white;}
.uib-day button, .uib-month button, .uib-year button, .uib-daypicker .btn, .uib-monthpicker .btn, .uib-yearpicker .btn, .uib-datepicker-popup li .uib-datepicker .uib-daypicker:focus {outline: 0!important; border: 0!important;}
.uib-daypicker .text-info {color: $accent;}
.uib-daypicker .btn-info {background: $accent;}

// ... animation
.animate-show {
  line-height: 20px;
  opacity: 1;
}
.animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
.animate-show.ng-hide {
  opacity: 0;
  padding: 0 10px;
}

//login Specific
#login {
    position: relative;
    z-index: 9;
    .loginContent {
        z-index: 9;
        position: relative;
        .loginLogo {max-width: 150px; margin: 0 auto;}
        .login-panel {position: absolute; top: 60px; width: 100%; padding: 15px 30px;}
    }
    .loginBackDrop {
        background: $solid url('../assets/images/logintexture.png');
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
}

// ... Admin Specific
#admin {
    margin-bottom: 400px;
    #menu {
        width: 100px;
        height: 100%;
        position: fixed;
        background:url('../assets/images/adminMenu.png');
        border: 0;
        border-right: 2px solid #222;
        .menuToggle {
            position: absolute;
            bottom: 2px;
            left: 10px;
            color: white;
            cursor: pointer;
            font-size: 25px;
            &:hover {color: $accent;}
        }
        &.ls {
            width: 50px;
            ul.menuItems li a {
                .menuItemText {display: none;}
                .glyphicon {font-size: 22px!important;}
                .fa {font-size: 26px!important;}
            }
        }
        &.adminMenu {
            z-index: 6;
            ul.menuItems {
                li {text-align: center;
                    a {
                        display: block;
                        width: 100%;
                        padding: 15px 0;
                        border-bottom: 1px solid #222;
                        color: white;
                        .glyphicon {font-size: 33px;}
                        .fa {font-size: 37px;}
                        &.active {background: #222; border-right: 5px solid $accent; text-decoration: none;}
                        &:hover {color: white; cursor: pointer; background: #222; text-decoration: none}
                    }
                }
            }
        }
    }
    #content {
        margin-left: 110px;
        display: block;
        &.ls {
            margin-left: 57px;
            ul.menuItems li a .menuItemText {display: none;}
        }
    }
    #userInfo {
        position: relative;
        .userLogo {position: fixed; right: 20px; top: 20px; max-width: 100px; z-index: 6; background: white; @include rad(8px); padding: 5px;}
    }
    .loading {
        position:absolute;
        color: $accent;
        background: white;
        right: 0;
        left: 0;
        z-index: 9999;
        height: 100%;
        .uil-hourglass {
            max-width: 80px;
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 9999;
            transform: translate(-50%, -50%);
        }
    }
    .form-group {
        label small {color: #999; font-weight: 400}
    }
    .upBtn {
        position: fixed;
        bottom: 10px;
        left: 113px;
        z-index: 999;
        font-size: 24px;
        padding: 5px 12px 8px 15px;
        color: white;
        background-color: rgba(225, 225, 225, .8);
        &:focus {border: 0; outline: 0;}
    }
    .staticDatePicker {
        position: relative;
        .popover {
            position: absolute;
            display: block;
        }
    }
    .editMode p {color: #999;}
    .editingTable {
        font-size: 16px;
        margin-top: 20px;
        .editingRow {
            padding: 15px 15px 0;
            border-bottom: 1px solid #ccc;
            p {margin-bottom: 15px}
            .glyphicon {margin-right: 10px;}
            .action.glyphicon {margin-right: 0;}
            .editArea {
                background: #eee;
                padding: 30px 32px;
                border-top: 1px solid silver;
            }
        }
        .tableHead {
            display: block;
            width: 100%;
            background: $solid;
            position: relative;
            overflow: hidden;
            color: white;
            padding: 10px 0;
            @include rad(2px);
        }
        tags-input {
            .host {margin: 0;}
            .tags {
                display: block;
                width: 100%;
                min-height: 34px;
                padding: 3px 2px;
                font-size: 14px;
                line-height: 1.428571429;
                color: #555555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                @include rad(2px);
                @include bs(inset 0 1px 1px rgba(0, 0, 0, 0.075));
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                &.focused {@include bs(0 0 3px 1px rgba(142, 198, 64, .6)); border-color: $accent;}
                .input {margin: 0;}
                .tag-item {
                    height: 22px;
                    line-height: 22px;
                    margin: 2px;
                    padding: 0 8px;
                    background: darken(#eee, 10%);
                    border:0;
                    color: #222;
                    &.selected {
                        background: #d43f3a;
                        border:0;
                        color: white;
                        .remove-button {color: white;}
                    }
                    .remove-button {color: #222;}
                }
            }
            .autocomplete {
                font-size: 13px;
                @include rad(5px);
                @include bs(0 0 3px 1px rgba(0, 0, 0, .3));
                border-color: #eee;
                .suggestion-item {
                    font-size: 13px;
                }
                .suggestion-item.selected, .suggestion-item.selected em {
                    background-color: $solid;
                }
            }
        }
        .wysyEdit .btn-group {
            margin-bottom: 10px;
            .btn {font-size: 11px;}
        }
    }
    .subPage {
        background: #f7f7f7;
        padding: 10px 10px 0!important;
        p {margin-bottom: 10px!important;}
        .subPageIcon {color: darken(#ddd, 10%); margin-right: 10px;}
    }
    .moduleLabels {font-size: 16px; margin-left: 20px;}
    .testEditArea {
        background: #eee;
        padding-top: 26px;
        margin-top: 13px;
        margin-bottom: -10px;
        padding-bottom: 19px;
        border-top: 1px solid silver;
    }
    #view-selector-container {
        table {margin-bottom: 10px}
        .dcs-a-dcs-fc-dcs-fb-dcs-cb {width: 100%}
    }
    .submitBtn {
        position: absolute;
        top: -86px;
        right: 10px;
    }
}
#imageGallery {
    background: #f7f7f7;
    .imageGallery {
        display: block;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
        .imageItem {
            margin-top: 11px;
            .imgBtn {cursor: pointer; &:hover {border: 8px solid #ddd;}}
        }
    }
    .galleryImg {
        margin: 10px auto;
        display: block;
        &.sml {max-height: 85px;}
        &.mdm {max-height: 100px;}
        &.lrg {max-height: 400px;}
    }
    .addImager {
        .glyphicon {font-size: 33px}
    }
    .dropBox {
        border: 5px dashed darken(#eee, 5%);
        color: darken(#eee, 10%);
        padding: 50px 0;
        text-align: center;
        font-size: 23px;
        margin-top: 17px;
    }
    .dragover {border: 5px dashed $accent; color: $accent;}
    .imgPreview {
        margin-top: 10px;
        padding: 20px 0;
        img {margin: 0 auto;}
    }
}
.bck {@include rad(43px); padding: 3px 6px;}
#layoutGallery {
    .layoutSelector {
        height: 150px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        border: 2px solid white;
        @include rad(25px);
        &:hover {border: 2px solid $accent;}
    }
}
.lngTabs {margin-bottom: 30px;}
.blogLngPills {
    font-size: 11px;
    border-bottom: 1px solid #eee;
    li > a {padding: 5px; @include rad(0);}
    li.active > a, li.active > a:hover, li.active > a:focus {
        background: $accent;
    }
}

//checkmark animation
.savedsvg {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    color: $accent;
    background: white;
    border: 1px solid #f7f7f7;
    padding: 10px 15px;
    @include rad(10px);
    .checkmark {
        stroke: $accent;
        stroke-dashoffset: 745.74853515625;
        stroke-dasharray: 745.74853515625;
        animation: dash 2s ease-out forwards infinite;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 745.74853515625;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

// ... Admin Break Points
@media (max-width: 1400px) {

}
@media (max-width: 1252px) {
    #admin #userInfo .userLogo {position: absolute; max-width: 80px;}
}
@media (max-width: 800px) {
    .pageCol {padding-left: 0; padding-right: 0;}
    #admin {
        #menu {
            position: static;
            width: 100%;
            display: block;
            float: left;
            border: 0;
            border-bottom: 2px solid #222;
            .menuToggle {display: none;}
            &.adminMenu {
                ul.menuItems {
                    margin-bottom: 0;
                    li {
                        display: inline;
                        float: left;
                        border-right: 1px solid #222;
                        a {
                            border: 0;
                            border-bottom: 5px solid #999;
                            padding: 10px 13px 6px;
                            .glyphicon {font-size: 22px;}
                            .fa {font-size: 26px!important;}
                            .menuItemText {display: none;}
                            &.active {border:0; border-bottom: 5px solid $accent;}
                        }
                    }
                }
            }
            &.ls {width: 100%;}
        }
        #content {
            margin-left: 0;
            display: block;
            float: left;
            width: 100%;
            &.ls {
                margin-left: 0;
                display: block;
                float: left;
                width: 100%;
            }
        }
        #userInfo {
            position: relative;
            .userLogo {
                position: absolute;
                top: 10px;
                right: 10px;
                max-width: 75px;
                @include bs(-2px 2px 5px 0px rgba(0,0,0,0.44));
            }
        }
    }
}
@media (max-width: 700px) {

}
