@import 'strap';

header {
    background: white;
    padding: 12px 0;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    .logo img {
        max-width: 135px;
        margin: 5px 0;
        @include trans(all 0.5s ease);
        &:hover {max-width: 137px; position: absolute;}
    }
    ul.util {
        li {
            font-size: 12px;
            color: #999;
            text-transform: uppercase;
            a {
                color: #999;
                &:hover {text-decoration: none; color: $accent;}
            }
        }
    }
    ul.menu {
        margin-top: 5px;
        li {
            font-size: 13px;
            font-weight: 700;
            padding-left: 10px;
            a {
                color: $solid;
                &.call {
                    color: $accent;
                    border:1px solid $accent;
                    padding: 5px 16px;
                    @include rad(4px);
                    &:hover {background: $accent; color: white;}
                }
                &:hover {text-decoration: none; color: $accent;}
            }
        }
        @include respond-to(large) {
            li {font-size: 16px;}
        }
    }
    .hamburger {
        .hamburgerTrain {color: $solid; font-size: 43px; padding: 6px 9px 0; display: inline-block;}
        .applynow {display: inline-block; font-size: 23px; padding: 17px 14px 0 0;}
    }
    &.funsize {
        background: white;
        height: 75px;
        position: relative;
        .logo img {
            max-width: 95px;
            @include trans(all 0.5s ease);
            &:hover {max-width: 100px;}
        }
        .hamburger {
            .hamburgerTrain {font-size: 32px;}
            .applynow {font-size: 18px;  padding: 14px 14px 0 0;}
        }
    }
    &.fixmenu {
        background: white;
        height: 80px;
        .logo img {
            max-width: 105px;
            @include trans(all 0.5s ease);
            &:hover {max-width: 109px;}
        }
        ul.util {
            @include trans(all 0.5s ease);
        }
        ul.menu {
            margin-top: 16px;
            @include trans(all 0.5s ease);
        }
        .hamburger {
            .hamburgerTrain {font-size: 35px;}
            .applynow {font-size: 18px;}
        }
    }
}
#mobileMenu {
    a {color:white; text-transform: uppercase;}
    .util {
        color: white;
        font-size: 12px;
        margin: 24px 10px 27px 10px;
        border-bottom: 1px solid #333;
        padding-bottom: 23px;
        .xout {font-size: 17px; margin-right: 8px; a {color: $accent}}
    }
    .menu {
        font-size: 20px;
        margin: 24px 10px 27px 10px;
        font-weight: 100!important;
        li {border-bottom:1px solid #333; padding: 18px 0;}
    }
}
.ng-pageslide {
    background: rgba(0, 0, 0, .9);
}

#content {
    .content {padding-top: 93px;}
    #homePage {
        .hero {
            display: block;
            width: 100%;
            overflow: hidden;
            position: relative;
            .heroImg {
                position: fixed;
                width: 100%;
                max-width: 1495px;
                top: 75px;
            }
            @include respond-to(fullwidth) {
                .heroImg {
                    left: 50%;
                    margin-left: -747px;
                    width: 100%;
                    right: 0;
                }
            }
            @include respond-to(large) {
                .heroImg {
                    width: 110%!important;
                    right: 0!important;
                }
            }
            @include respond-to(medium) {
                .heroImg {
                    width: 129%;
                    right: -9%;
                }
            }
            @include respond-to(small) {
                .heroImg {
                    width: 129%;
                    right: -9%;
                }
            }
            .heroImgfunsize {position: absolute; width: 180%; top: 0; left: -294px;}
            .heroImgmicro {position: absolute; width: 100%; top: 0;}
            .mainCTA {
                color: white;
                padding: 103px 0 221px;
                .herocopy {font-weight: 800;}
                .up {color: $accent;}
                .upup {color: $accent;}
                .details {padding: 9px 11px; display: block;}
                &.spanish {
                    @include respond-to(xsmall) {
                        .u {font-size: 50px; line-height: 37px;}
                        .up {font-size: 52px; line-height: 61px;}
                        .upup {font-size: 61px; line-height: 54px;}
                        .details {font-size: 14px; font-weight: 100;}
                    }
                    @include respond-to(small) {
                        .u {font-size: 52px; line-height: 50px;}
                        .up {font-size: 58px; line-height: 67px;}
                        .upup {font-size: 73px; line-height: 52px;}
                        .details {font-size: 12px; padding: 9px 0;}
                    }
                    @include respond-to(medium) {
                        .u {font-size: 60px; line-height: 74px;}
                        .up {font-size: 61px; line-height: 77px;}
                        .upup {font-size: 75px; line-height: 75px;}
                        .details {font-size: 12px; padding: 9px 0;}
                    }
                    @include respond-to(large) {
                        .u {font-size: 80px; line-height: 74px;}
                        .up {font-size: 82px; line-height: 98px;}
                        .upup {font-size: 93px; line-height: 72px;}
                        .details {font-size: 14px; font-weight: 100;}
                    }
                }
            }
            @include respond-to(xsmall) {
                .mainCTA {
                    padding: 135px 0 99px;
                    .u {font-size: 50px; line-height: 36px;}
                    .up {font-size: 57px; line-height: 53px;}
                    .upup {font-size: 80px; line-height: 64px;}
                    .details {font-size: 12px; font-weight: 100;}
                    .mainCTAbtn {padding: 10px 20px; font-size: 13px;}
                }
            }
            @include respond-to(small) {
                .mainCTA {
                    padding: 78px 0 172px;
                    .u {font-size: 54px; line-height: 40px;}
                    .up {font-size: 62px; line-height: 56px;}
                    .upup {font-size: 86px; line-height: 71px;}
                    .details {font-size: 13px; font-weight: 100;}
                }
            }
            @include respond-to(medium) {
                .mainCTA {
                    padding: 103px 0 221px;
                    .u {font-size: 62px; line-height: 60px;}
                    .up {font-size: 71px; line-height: 61px;}
                    .upup {font-size: 98px; line-height: 89px;}
                    .details {font-size: 14px; font-weight: 100;}
                }
            }
            @include respond-to(large) {
                .mainCTA {
                    .u {font-size: 80px; line-height: 74px;}
                    .up {font-size: 92px; line-height: 77px;}
                    .upup {font-size: 128px; line-height: 101px;}
                    .details {font-size: 18px; font-weight: 100;}
                    .mainCTAbtn {font-size: 18px;}
                }
            }
            .stepsArrow1 {
                position: absolute;
                z-index: 2;
                left: 85%;
                top: -20%;
            }
            .stepsArrow2 {
                position: absolute;
                z-index: 1;
                left: 85%;
                top: -20%;
            }
            @include respond-to(small) {
                .stepsArrow1, .stepsArrow2 {
                    width: 73px;
                    top: -33px;
                }
            };
            .heroSteps {
                background: white;
                width: 100%;
                display: block;
                position: relative;
                .steps {height: 258px;}
                @include respond-to(small) {
                    .steps {height: 167px;}
                };
                .heroStep {
                    background: url('../assets/images/stepsBg.png') center no-repeat;
                    background-size: 84%;
                    position: relative;
                    bottom: 166px;
                    padding: 73px 73px;
                    img {margin: 0 auto; position: relative; top: -10px;}
                    .stepsTitle {font-size: 16px;}
                    .stepsText {color: #999999;}
                    &.ind {z-index: 2}
                    &.ind2 {z-index: 1}
                }
                @include respond-to(xsmall) {
                    .heroStep {
                        bottom: 70px;
                        background-size: 78%;
                        width: 333px;
                        margin: 0 auto;
                        padding: 50px 73px;
                    }
                    .steps {height: 299px;}
                }
                @include respond-to(small) {
                    .heroStep {
                        padding: 73px 18px;
                        background-size: 97%;
                        bottom: 134px;
                        img {width: 35%;}
                    }
                }
                @include respond-to(medium) {
                    .heroStep {background-size: 96%; padding: 73px 50px;}
                }
                @include respond-to(large) {
                    .heroStep {padding: 73px 73px; background-size: 84%;}
                }
            }
        }
        .information {
            background: white;
            position: relative;
            display: block;
            width: 100%;
            padding-bottom: 100px;
            .infoSection {
                .infoText {padding: 20px 50px;}
                @include respond-to(medium) {
                    .lgright {float:right;}
                    .infoText {padding: 20px 0;}
                }
                @include respond-to(large) {
                    .lgright {float:right;}
                    .infoText {padding: 20px 0;}
                }
                p {color:#999;}
                img {
                    width: 78%;
                    max-width: 356px;
                    margin: 0 auto;
                }
            }
        }
        .testimonials {
            display: block;
            width: 100%;
            position: relative;
            color: white;
            .testimones {
                @include trans(all 0.5s ease);
            }
            .testBg {
                position: relative;
                margin: 0 auto;
                width: 100%;
                max-width: 1496px;
            }
            .testQuote {
                position: absolute;
            	left: 0;
            	right: 0;
            	margin-left: auto;
             	margin-right: auto;
            	max-width: 1096px;
                .testBody {
                    font-weight: 300;
                    display: block;
                }
                .testAuthor {
                    margin-bottom: 20px;
                    display: block;
                }
                .vidLink {
                    font-size: 65px;
                    color: white;
                    &:hover {color: $accent;}
                }
            }
            @include respond-to(xsmall) {
                .testBg {width: 250%; left: -225px;}
                .testQuote {
                    top: 10%;
                    .testBody {font-size: 17px; padding: 0 60px;}
                    .vidLink {font-size: 53px;}
                }
            }
            @include respond-to(small) {
                .testBg {width: 146%; left: -12%;}
                .testQuote {
                    top: 21%;
                    .testBody {font-size: 17px; padding: 0 60px;}
                }
            }
            @include respond-to(medium) {
                .testBg {width: 250%; left: -185px;}
                .testQuote {
                    top: 21%;
                    .testBody {font-size: 27px;}
                }
            }
            @include respond-to(large) {
                .testBg {width: 100%; left: 0;}
                .testQuote {
                    top: 21%;
                    .testBody {font-size: 27px;}
                }
            }
            .testCTA {
                background: white;
                position: relative;
                width: 100%;
                color: #999;
                padding: 80px 0;
                .testAvatars {
                    position: absolute;
                    width: 100%;
                    max-width: 500px;
                    top: -53px;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    @include trans(all 0.5s ease);
                    .imgoverlay {
                        .overlay {
                            background: rgba(255, 255, 255, 0.3);
                            position: absolute;
                            top: 2px;
                            left: 7px;
                            width: 86%;
                            height: 95%;
                            cursor: pointer;
                            @include rad(34px);
                        }
                    }
                    .avatars {position: relative;}
                    .avatar {
                        width: 80px;
                        cursor: pointer;
                        &.active {width: 100px;}
                    }
                    @include respond-to(xsmall) {
                        .avatar {
                            width: 60px;
                            &.active {width: 80px;}
                        }
                        .imgoverlay {
                            .overlay {
                                top: 1px;
                                left: 7px;
                                width: 82%;
                                height: 95%;
                                @include rad(26px);
                            }
                        }
                    }
                }
                @include respond-to(xsmall) {
                    .testAvatars {top: -40px;}
                }
            }
        }
        .locationFinder {
            width: 100%;
            max-width: 1496px;
            margin: 0 auto;
            display: block;
            position: relative;
            color: white;
            background: white url('../assets/images/finderBackground.jpg') center no-repeat;
            background-size: 100%;
            .finderContainer {
                padding: 115px 40px;
                .hspace {margin-bottom: 40px;}
            }
        }
        @include respond-to(xsmall) {
            .locationFinder {background-size: 312%;}
        }
    }
    #footer {
        background: white;
        width: 100%;
        display: block;
        position: relative;
        padding: 20px 0;
        color: #999;
        font-size: 13px;
    }
}
