<div id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<h5>Merchants</h5>
					</div>
					<div class="col-md-4">
						<h5>Customers</h5>
					</div>
					<div class="col-md-4">
						<h5>Company</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-12 text-center">
				Copyright © 2016 Snap Finance | All Rights Reserved
			</div>
		</div>
	</div>
</div>
