<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a ui-sref="home"><img src="/assets/images/logo.png" alt="Snap Logo" class="logo"></a>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 text-right">
						<ul class="list-unstyled list-inline util">
							<li><a ng-click="toggleLang()">Español</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
							<li><a ui-sref="lnd19en">My Account</a></li>
						</ul>
					</div>
					<div class="col-md-12 text-right">
						<ul class="list-unstyled list-inline menu">
							<li><a ui-sref="lnd19en">Is Snap Right for Me?</a></li>
							<li><a ui-sref="lnd19en">How it Works</a></li>
							<li><a ui-sref="blog">Finance Tips</a></li>
							<li><a ui-sref="lnd19en">Become a Merchant</a></li>
							<li><a ui-sref="lnd19en">Apply Now</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
