<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a ui-sref="home"><img src="/assets/images/logo.png" alt="Snap Logo" class="logo"></a>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 text-right">
						<ul class="list-unstyled list-inline util">
							<li><a ng-click="setlanguage()">{{staticContent.lolo}}</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
							<li><a ui-sref="home">{{staticContent.lolt}}</a>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
							<li>877-557-3769</li>
						</ul>
					</div>
					<div class="col-md-12 text-right">
						<ul class="list-unstyled list-inline menu">
							<li><a ui-sref="lnd19{{stateInfo.language}}">{{staticContent.ltlo}}</a></li>
							<li><a ui-sref="lnd17{{stateInfo.language}}">{{staticContent.ltlt}}</a></li>
							<li><a ui-sref="blog">{{staticContent.ltlth}}</a></li>
							<li><a ui-sref="lnd19{{stateInfo.language}}">{{staticContent.ltlf}}</a></li>
							<li><a class="call" ui-sref="lnd17{{stateInfo.language}}">{{staticContent.ltlfi}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
