
<div id="customersIsItRightPage" class="staticPages" ng-class="{'droptop':!funsize}">
	<div id="hero" class="hero">
		<div ng-hide="hideHero">
			<img src="assets/images/is-snap-right-for-you.jpg" class="heroImg" ng-hide="funsize">
			<img src="assets/images/is-snap-right-for-you.jpg" class="heroImgfunsize" ng-show="funsize && !micro">
			<img src="assets/images/hero-micro.jpg" class="heroImgmicro" ng-show="micro">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center snapcta singleheader" ng-class="{'spanish': stateInfo.language === 'es'}">
					<h1 class="jumboHeader">{{vm.content.block1}}</h1>
					<br />
					<button type="button" ui-sref="apply" class="btn btn-success cta">{{staticContent.ctat}}</button>
				</div>
			</div>
		</div>
	</div>
	<div id="merchantsIsItRightInformation" class="badCredit">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h2 ng-bind-html="vm.content.block2"></h2>
					<br /><br />
					<h4>{{vm.content.block3}}</h4>
				</div>
			</div>
		</div>
	</div>
	<div id="merchantsIsItRightForm" class="checksForm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<h2>{{vm.content.block4}}</h2><br />
						<h4>{{vm.content.block5}}</h4><br /><br />
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>{{vm.content.block6}}</h3>
							<br />
							<div check-boxes-form></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="locationFinder" class="footerForm location">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 formContainer text-center">
					<h3 class="hspace">{{staticContent.sfsl}}</h3>
					<form name="findLocation" ng-submit="vm.findLocation()">
						<div class="form-group">
							<input type="text" class="form-control input-lg text-center" placeholder="Zip Code" ng-model="findLocation.zipCode">
							<button type="submit" class="btn btn-primary btn-lg btn-block">{{staticContent.sfsb}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
