<div id="blogPost{{vm.content.id}}" class="droptop" ng-controller="PostCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <button class="btn btn-default btn-sm" type="button" ui-sref="blog"><span class="glyphicon glyphicon-chevron-left"></span> {{staticContent.backBtn}}</button>
            </div>
        </div>
        <h1>{{vm.content.title}}</h1>
        <div ng-bind-html="vm.content.pageHtml"></div>
    </div>
</div>
