<div id="homePage" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4"><p>{{vm.content.block1}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block2}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block3}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block4}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block5}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block6}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block7}}</p></div>
				<div class="col-md-4"><p>{{vm.content.block8}}</p></div>
			</div>
		</div>
	</div>
</div>
