<div id="pagesPage" class="container-fluid" ng-controller="PageCtrl as vm">
    <div class="row">
        <div class="col-md-12 pageCol">
		    <loader ng-show="vm.loading"></loader>
		    <div class="col-md-11">
		        <h1 class="mainTitle"><span class="glyphicon glyphicon-file accentText"></span> {{vm.page.name}}</h1>
		        <hr>
		    </div>
		    <div class="col-md-11">
		        <a ui-sref="pages"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
		    </div>
		    <div class="col-md-11 editingTable">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="col-md-12 panel panel-custom">
		                    <div class="panel-body">
                                <br>
                                <ul class="nav nav-tabs lngTabs" ng-show="settings.spanish">
                                    <li ng-class="{active: vm.openedContent('enContent')}" uib-tooltip="English"><a ng-click="vm.editContent('enContent')">EN</a></li>
                                    <li ng-class="{active: vm.openedContent('esContent')}" uib-tooltip="Spanish"><a ng-click="vm.editContent('esContent')">ES</a></li>
                                </ul>

                                <save-msg ng-show="vm.saved"></save-msg>
                                <pg-details dynamic="false" page="vm.content" ng-if="!loading" publish="vm.saveContent(vm.content)"></pg-details>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
